*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADER */
.navbar {
  background-color: #3F3A60;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px;
}

.navbar ol {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.navbar img{
  width: 5%;
}

.navbar ol li{
  color: white;
  font-size: 20px;
}

/* MAIN */

.mainSection {
  background-color: #E5E5E5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.mainSection img{
  width: 50%;
}

